body{
    background-color: tomato;
}

form{
    margin: 10% 25%;
    background-color: azure;
    padding: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
}

button{
    background-color: red;
    border: none;
    width: 10em;
    border-radius: .4em;
    padding: .5em;
    font-weight: 900;
    color: azure;
    margin-right: 2em;
    text-align: center;
}

a{
    background-color: green;
    border: none;
    width: 10em;
    border-radius: .4em;
    padding: .5em;
    font-weight: 900;
    color: azure;
    text-decoration: none;
}

h1{
    color: tomato;
    font-style: italic;
    font-weight: 900;
}